:root{
    --Charcoal: var(#202426);
    --Moss: var(#6C733D);
    --leaf: var(#9DA65D);
    --Street: var(#8C8C88);
    --Sky: var(#F2F2F2);
}

html {
    background-color:#202426;
    font-family: monospace;
}

h2,h1 {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
h3 {
    position: absolute; right: 100px; top: 350px;
    display: flex;
    flex-wrap: wrap;
}

nav {
    display:flex;
    justify-content: space-between;
    background-color: #6C733D;
    color: #F2F2F2;
    border: solid black 3px;
}

header{
    Display: flex;
    background-color: #6C733D;
    color: #F2F2F2;
    border: solid black 5px;
    margin-top: 10px;
}
.prof-pic {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    border: solid #8C8C88;
    border-radius: 10px;
}
.portfolio{
    display: flex;
}

.app-1{
    background-image: url(./Images/screencapture-t0ny-macaroni-github-io-horiseon-refactor-2023-06-27-09_51_20.png);
    background-position: center;
    background-size: 700px, 700px;
    background-repeat: no-repeat;
    border: solid #202426 10px;
    display: flex;
    background-color: #6C733D;
    border: solid black 5px;
    Height: 825px;
    width: 900px;
    margin-left: 900px;
    position: relative;
    top: 150px;
}


.app-1:hover .link1 {
    opacity: 1.0;
    background-color: #9DA65D;
}

.link1 {
    margin-left: 10px;
    font-size: 30px;
    font-family: monospace;
    color: #202426;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.app-2{
    background-image: url(./Images/screencapture-t0ny-macaroni-github-io-Prework-study-guide-2023-06-28-15_00_03.png);
    background-position: center;
    background-color: #6C733D;
    border: solid black 5px;
    background-size: 450px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    top: 250px;
    left: 1300px;
    height: 400px;
    width: 500px;
}

.app-2:hover .link2 {
    opacity: 1.0;
    background-color: #9DA65D;
}

.link2 {
    margin-left: 10px;
    font-size: 30px;
    font-family: monospace;
    color: #202426;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.app-3 {
    background-image: url(./Images/under-construction-symbol-sign-free-vector.jpg);
    background-position: center;
    background-color: #6C733D;
    border: solid black 5px;
    background-size: 350px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    top: -158px;
    left: 700px;
    height: 400px;
    width: 500px;
}


.link3 {
    margin-left: 10px;
    font-size: 30px;
    font-family: monospace;
    color: #202426;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.app-3:hover .link3 {
    opacity: 1.0;
    background-color: #9DA65D;
}

Footer {
    display:flex;
    justify-content: space-between;
    background-color: #6C733D;
    color: #F2F2F2;
    font-size: 25px;
    border: solid black 3px;
    margin: 25px;
    height: 25%;
}

a {
    margin-right: 10px;
}










@media screen and (max-width:1368px) {
main,
    nav {
        flex-direction: column;
    }

    h3 {
        flex-wrap: wrap; 
    }
}
